/**
 * @name Moddeka
 * @version 1.0
 * @author whoknows
*/

/*
====================================================================================
 Please view the full documentation at https://github.com/DiscordStyles/Slate/wiki
====================================================================================
*/

/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url("https://discordstyles.github.io/AdjustableServerWidth/base.css");
@import url("https://discordstyles.github.io/Slate/dist/Slate.css");

/*
====================================================================================
                                  Basic Variables
====================================================================================
*/

:root {
    /*Primary Colors*/
    --accent: 214,168,97;
    --link-colour: 48, 144, 255;
    --sidebar-width: 275px;

    /*Server List*/
    --server-icon-size: 35px;
    --server-icon-spacing: 10px;
    --server-container-padding: 15px;

    /* My edits */
    --border-radius: 6px;
    --avatar-radius: 100%;
    --server-radius: 12px;

    --background: #1b1915;
    --background-alt: #1b1915;
    --background-light: #1b1915;
    --background-dark: #1b1915;
    --background-sidebar: #2C2A26;
    --background-modifier-hover: #D6A86130;
    --background-modifier-active: #D6A86130;
    --toolbar-background: #1b1915;
    --toolbar-background-hover: 30;

    --slate-bg: var(--background-alt);
    --sidebar-rgb: 44,42,38;

    --text-normal: #e4e4e4;
    --text-focus: #D6A861;
    --text-muted: rgba(var(--accent), 0.5);

    --base-border: #1b1915;
    --toolbar-border: #1b1915;
    --toolbar-search-background: var(--background-sidebar);
    --toolbar-search-border: var(--background-sidebar);
    /*--toolbar-text-focus:var(--accent);*/
    --toolbar-text-normal: var(--text-focus);
    --toolbar-text-focus: var(--text-focus);
    --toolbar-text-muted: rgba(var(--accent), 0.5);

    /*--font-family-sans-serif: 'VictorMono Nerd Font';
    --font-family-monospace: 'VictorMono Nerd Font Mono';*/
    --font-family-sans-serif: 'Helvetica';
    --font-family-monospace: 'Monoflow';
    --font-size: 13px;
}

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/

.card-2qZngs {
    background-color: var(--background);
    text-align: center;
}

.header-nbFv8R {
    color: var(--text-focus);
}

.emptyHeader-3lmLcs {
    color: var(--text-focus);
}

.colorStandard-2KCXvj {
    color: var(--text-normal) !important;
}

.emptyText-2zjpZr {
    color: var(--text-normal) !important;
}

/* Mic, sound, settings settings */
#app-mount .panels-3wFtMD>.container-YkUktl .directionRow-2Iu2A9 {
    background: var(--background-sidebar);
    border-color: var(--background-sidebar);
    border-style: solid;
    border-width: 2px;
}

/* Mic, sound and settings parent container settings */
#app-mount .panels-3wFtMD>.container-YkUktl {
    background: var(--background-sidebar);
    border-right: unset;
}

/* Message field settings */
#app-mount .inner-NQg18Y {
    border: 2px solid var(--background-secondary);
}


#app-mount .guilds-2JjMmN .scrollerBase-1Pkza4 {
    /*fix gap on top server list*/
    padding-top: unset !important;
}

/* Servers sidebar settings */
#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
    background: var(--background-sidebar);
    padding-top: unset;
    border-color: var(--background-secondary);
}

#app-mount .sidebar-1tnWFu {
    margin-right: 5px;
    margin-left: 3px;
}

#app-mount .sidebar-1tnWFu .content-1gYQeQ {
    border-radius: var(--border-radius);
}

#app-mount .sidebar-1tnWFu .animatedContainer-2laTjx {
    border-radius: var(--border-radius);
}

.containerDefault-YUSmu3,
.containerDragAfter-3aBiOW,
.containerDragBefore-1s5Qg6,
.containerUserOver-SDa1HW {
    padding-left: 10px;
}

/* Server Channels list settings */
#app-mount .sidebar-1tnWFu [class*=scroller-] {
    background-color: var(--background-sidebar);
    border-right: unset;
    border-left: unset;
}

.container-1NXEtd {
    background-color: var(--background-alt);
}

#app-mount .sidebar-1tnWFu .unread-36eUEm {
    margin-left: 10px;
}

/* Set y position to the channel list */
.guilds-2JjMmN {
    width: var(--container);
    top: 50px;
}

/* Toolsbar settings: Server name f.e.*/
#app-mount .sidebar-1tnWFu .header-3OsQeK {
    background-color: var(--background-sidebar);
    border-bottom: unset;
    border-right: unset;
    width: unset;
}

/* Add round corners to selected channel */
#app-mount .sidebar-1tnWFu .wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ {
    border-radius: var(--border-radius);
}

/* text color for active channel */
#app-mount .sidebar-1tnWFu .wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ .name-28HaxV,
#app-mount .sidebar-1tnWFu .wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ svg {
    color: var(--slate-bg);
}

/* Add padding to channels list */
#app-mount .sidebar-1tnWFu .content-1gYQeQ {
    margin-left: 10px;
    margin-right: 10px;
}

/* Add shadow to pinned messages */
#app-mount .messagesPopoutWrap-3zryHW {
    box-shadow: 0 5px 20px 1px #00000020;
}

/* Remove tiny borders */
#app-mount .guilds-2JjMmN {
    border: unset;
}

#app-mount .panels-3wFtMD {
    border-right: unset;
}

#app-mount .panels-3wFtMD>.container-YkUktl {
    border-top: unset;
}

#app-mount .panels-3wFtMD::before {
    border-top: unset;
}

/* Add round corrners to selected chat */
.selected-3veCBZ {
    height: 38px;
    border-radius: var(--border-radius);
}

/* Add margins to selected chats */
#app-mount .privateChannels-oVe7HL .content-2a4AW9 {
    margin-left: 10px;
    margin-right: 10px;
}

/* Call controls background */
#app-mount .panels-3wFtMD .container-1zzFcN {
    background-color: var(--background-sidebar);
}

#app-mount .panels-3wFtMD .container-1zzFcN .horizontal-112GEH>.flex-2S1XBF:last-child {
    background: var(--background-sidebar);
    border: unset;
}

/* Add shadow to inboc popup */
.container-2ebMPP {
    box-shadow: 0 5px 20px 1px #00000020 !important;
}

/* Hide server privacy button */
.communityInfoVisible-3zc5_s .communityInfoContainer-1dMVpU {
    opacity: 0% !important;
}

/* Remove shadow in partnered servers title */
.bannerVisible-Vkyg1I .headerContent-2SNbie {
    filter: none;
}

/* Fix weird placement in themes screen */
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .contentRegion-3HkfJJ .contentColumnDefault-3eyv5o {
    display: unset;
}

/* Round corners for member list */
#app-mount .member-2gU6Ar .layout-1qmrhw {
    border-radius: var(--border-radius);
    margin-left: 5px;
}

/* Fix members icons not centered in the list */
#app-mount .member-2gU6Ar .avatar-6qzftW {
    margin-right: var(--spacing-double);
    height: calc(var(--avatar-size)*1.4) !important;
    place-self: baseline;
    width: var(--avatar-size) !important;
}

/*--- Chat rounds corners ---*/

/*ROund corners for dates in chat */
#app-mount .chatContent-3KubbW .divider-2rZFJK {
    background: unset;
}

/* Inner background colors */
#app-mount .chat-2ZfjoI {
    background: var(--background-sidebar);
}

#app-mount .chat-2ZfjoI .newMessagesBar-1hF-9G {
    border-radius: var(--border-radius);
}

/* Round corners of chat*/
#app-mount .messagesWrapper-RpOMA3 {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.chatContent-3KubbW {
    border-radius: var(--border-radius);
}

/*Recolor thread lines*/
.spine-2vt3pM {
    border-bottom: 2px solid var(--background-modifier-hover);
    border-left: 2px solid var(--background-modifier-hover);
}

/*Round corners for selected DM*/
#app-mount .privateChannels-oVe7HL .channel-1Shao0 {
    border-radius: var(--border-radius);
}

/*Activity label in DM chat list*/
#app-mount .privateChannels-oVe7HL .channel-1Shao0 .activityText-ev7Z1T,
#app-mount .privateChannels-oVe7HL .channel-1Shao0 .subText-3Sk0zy {
    font-size: var(--font-size-sm);
    color: var(--scrollbar-background);
}

/* Round corner at the bootom of chats */
#app-mount .form-3gdLxP {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Change color of toolbar */
#app-mount .container-ZMc96U,
#app-mount .container-ZMc96U .search-39IXmY,
#app-mount .base-2jDfDU {
    background: var(--background-sidebar);
}

#app-mount .container-ZMc96U .toolbar-3_r2xA {
    background: var(--background-sidebar);
    border-right: unset;
}

#app-mount .container-ZMc96U {
    border-bottom: unset;
}

#app-mount .container-ZMc96U .children-3xh0VB {
    border-right: unset;
}

.content-1SgpWY {
    margin-bottom: 5px;
}

#app-mount .container-2o3qEW {
    border-radius: var(--border-radius);
    margin-left: 5px;
}

#app-mount .membersWrap-3NUR2t {
    border-radius: var(--border-radius);
    margin-right: 5px;
    margin-left: 0px;
}

.content-1jQy2l {
    margin-right: 5px;
}

/* Re position channel name in sidebar */
#app-mount .sidebar-1tnWFu .header-3OsQeK {
    left: unset;
}

.guilds-2JjMmN {
    top: unset;
}

#app-mount .guilds-2JjMmN {
    background: var(--background-sidebar);
}

#app-mount .layer-86YKbF.baseLayer-W6S8cY {
    margin-top: 5px;
}

#app-mount .layers-OrUESM {
    background-color: var(--background-sidebar);
}

/* Fix spoty integration */
#app-mount .lookFilled-yCfaCM:not(.colorGrey-2DXtkV),
#app-mount .bd-modal-wrapper .footer button,
#app-mount .primaryButton-361sHl {
    margin-left: unset;
}

.lookFilled-yCfaCM .contents-3ca1mk,
.lookInverted-2mDUMi .contents-3ca1mk,
.lookLink-15mFoz .contents-3ca1mk,
.lookOutlined-3yKVGo .contents-3ca1mk {
    overflow: unset;
}

#app-mount .userPopout-2j1gM4 .buttonsWrapper-2ARRp1 {
    gap: 0px;
    margin-right: 12px;
}

#app-mount .lookFilled-yCfaCM:not(.colorGrey-2DXtkV),
#app-mount .bd-modal-wrapper .footer button,
#app-mount .primaryButton-361sHl {
    background-color: var(--background-sidebar) !important;
    color: var(--text-muted) !important;
    margin-right: 5px;
}

/* Threads */
#app-mount .resizeHandle-PBRzPC {
    border-left: unset;
    background: var(--background-sidebar);
}

#app-mount .container-3XgAHv .children-3xh0VB {
    width: unset;
}

#app-mount .container-3XgAHv {
    border-radius: var(--border-radius);
    border-left: unset;
    background: transparent;
    margin-right: 5px;
    margin-left: -5px;
}

#app-mount .messagesWrapper-RpOMA3 .container-1yy5xN h1 {
    margin: unset;
    margin-bottom: unset;
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    max-width: unset;
}

/* Home? fixes */
#app-mount .privateChannels-oVe7HL .searchBar-3TnChZ {
    border-right: unset;
}

#app-mount .content-1SgpWY .sidebar-1tnWFu .scrollerBase-_bVAAt[style="overflow: hidden scroll; padding-right: 0px;"]:not([id*=channels]) {
    border-right: unset;
}

#app-mount .container-2cd8Mz .topPill-3DJJNV {
    background: var(--background-sidebar);
}

.tabBody-2dgbAs {
    background: var(--background);
    border-radius: var(--border-radius);
}

#app-mount .container-2cd8Mz {
    background: var(--background-sidebar);
    padding-right: 5px;
}

#app-mount .container-2cd8Mz .topPill-3DJJNV {
    background: transparent;
    border-bottom: unset;
}

#app-mount .container-2cd8Mz .topPill-3DJJNV .item-3mHhwr {
    border-right: 1px solid var(--background-sidebar);
    border-bottom: 1px solid var(--background-sidebar);
}

#app-mount .container-2cd8Mz .peopleColumn-1wMU14 .scrollerBase-_bVAAt {
    overflow: hidden !important;
}

.userPopoutInnerNonPremium-3zrFkp {
    background: var(--slate-bg);
}

.avatar-2OC07D {
    border: unset;
    background-color: unset;
}

.wrapper-1VLyxH {
    border-radius: 100%;
    box-shadow: unset;
    background-color: transparent;
}

.overlayBackground-arbZMT {
    margin: 28px 10px 5px;
    background-color: var(--slate-bg);
    border-radius: var(--border-radius);
}

#app-mount .privateChannels-oVe7HL .searchBar-3TnChZ {
    background: unset;
    border-bottom: unset;
    left: auto !important;
    padding-right: 70px;
}

/*=== User's pop up ===*/
#app-mount .overlayBackground-1KgwVi {
    margin: 0px 10px 15px;
}
.avatarHint-2g3Mcd {
    /*round hint in profile pic hover*/
    border-radius: 100%;
}

.userPopoutOuter-3AVBmJ .wrapper-1VLyxH foreignObject {
    /*round profile pic*/
    overflow: hidden;
    border-radius: 100%;
}

#app-mount .menu-2TXYjN, #app-mount .submenu-3ycVEH {
    box-shadow: unset;
}

#app-mount .section-3FmfOT {
    /*vertical spacing*/
    padding: 12px 0px 0px 0px;
}

#app-mount .userPopoutInner-1hXSeY {
    /*pop up background*/
    background: var(--slate-bg);
}

#app-mount .section-3FmfOT>.title-1r9MQ6 {
    /*pop up titles background*/
    background: var(--slate-bg);
    border-bottom: unset;
    border-top: 1px solid var(--base-border);
}


#app-mount .section--1D3ev::before {
    content: "Send Message";
    background: var(--slate-bg);
    border-bottom: unset;
    border-top: 1px solid var(--base-border);
}

.avatarWrapper-3y0KZ1 {
    z-index: auto;
}

#account>div {
    /*actions group*/
    background-color: var(--slate-bg) !important;
}

/* Profile page */

.userProfileInnerThemedNonPremium-1gT-zY {
    background: var(--slate-bg);
}

/* Members options */
#app-mount .slider-1NC-Gf .bar-1Bhnl9 {
    background: var(--background-sidebar);
}

/* Remove custom profiles pics for people without one */
.wrapper-1VLyxH .avatar-b5OQ1N[src*="/assets/"] {
    content: unset;
    border-radius: var(--avatar-radius);
    background: var(--text-muted);
    mask: unset;
    -webkit-mask: unset;
}

/* Center config panel */
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .standardSidebarView-E9Pc3j {
    position: relative !important;
}

/* Fix colors of the profile on config panel */
.accountProfileCard-lbN7n- {
    background-color: var(--background-sidebar);
}

.background-3d_SjE {
    background-color: var(--slate-bg);
}

.fieldList-in8WkP {
    background-color: var(--slate-bg);
}

.avatar-3mTjvZ {
    border: 7px solid var(--slate-bg);
}

/* Fixes for invitations, links, etc */

/* Invitations */
#app-mount .wrapper-1HIH0j {
    border: 1px solid var(--background-sidebar);
    background-color: var(--background-sidebar);
}

/* Links */
#app-mount .embedFull-1HGV2S .grid-1aWVsE {
    background: var(--background-sidebar);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/* Code */
#app-mount pre code {
    background: var(--background-sidebar) !important;
    border: 1px solid var(--background-sidebar) !important;
}

/* Emoji picker */
#app-mount .emojiPicker-6YCk8a {
    background: var(--background-sidebar);
}

#app-mount #emoji-picker-tab-panel .listItems-6eZzQ1 {
    background: var(--background-sidebar);
}

#app-mount .wrapper-1NNaWG {
    border-bottom: unset;
    border-top: unset;
    background: var(--slate-bg);
    border-radius: var(--border-radius);
}

#app-mount .inspector-2A2Chb,
#app-mount .inspector-DFKXwB {
    background: var(--background-sidebar);
    border: unset;
}

.wrapper-1NNaWG:after {
    background-color: transparent;
}

#app-mount .input-2FSSDe,
#app-mount .input-2m5SfJ,
#app-mount .input-2FSSDe {
    background-color: var(--slate-bg);
    border: unset;
}

#app-mount .header-JHwfVI,
#app-mount .header-11eigE,
#app-mount .header-uVCAlo,
#app-mount .header-2TLOnc {
    padding-left: 180px;
}

#app-mount .header-JHwfVI,
#app-mount .header-11eigE,
#app-mount .header-uVCAlo,
#app-mount .header-2TLOnc {
    background: var(--background-sidebar);
}

#app-mount #gif-picker-tab-panel .content-A8TzKf {
    background: var(--background-sidebar);
}

.wrapper-i1awk3 {
    background: var(--background-sidebar);
}

#app-mount .categoryList-2GgCrD {
    background: var(--background-sidebar);
}

/* Fix color for titles in toolbar */
.title-17SveM {
    color: var(--text-normal);
    font-weight: bold;
}

/* Fix color for server name */
.name-3Uvkvr {
    color: var(--text-normal) !important;
    font-weight: bolder;
    font-size: 16px !important;
}

#app-mount .container-ZMc96U .children-3xh0VB .iconWrapper-2awDjA .icon-2xnN2Y {
    color: var(--text-normal);
}

#app-mount .container-ZMc96U .toolbar-3_r2xA .icon-2xnN2Y {
    color: var(--text-normal);
    opacity: 0.75;
    cursor: pointer;
}

#app-mount .container-ZMc96U .toolbar-3_r2xA .selected-29KTGM .icon-2xnN2Y {
    color: var(--text-normal);
    opacity: 0.75;
}

#app-mount .container-ZMc96U .searchBar-jGtisZ .iconContainer-1RqWJj .icon-18rqoe {
    color: var(--text-normal);
    transition: none;
    /* opacity: 0.75; */
}

#app-mount .container-ZMc96U .searchBar-jGtisZ .public-DraftEditorPlaceholder-root {
    color: var(--text-normal);
    opacity: 0.75;
}

#app-mount .sidebar-1tnWFu .header-3OsQeK .button-2BMPJJ {
    opacity: 0;
}

#app-mount .sidebar-1tnWFu .header-3OsQeK .name-3Uvkvr:before {
    content: unset;
}

#app-mount .container-ZMc96U .children-3xh0VB .title-17SveM:before {
    content: unset;
}

#app-mount .container-ZMc96U .children-3xh0VB .title-17SveM {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-normal);
}

/* Fix color of memebers on sidebar */
.member-48YF_l,
.members-3WRCEx {
    background-color: unset;
}

/* Trasnsparency attemp */
body {
    background: rgba(var(--sidebar-rgb), 0.9) !important;
}

#app-mount {
    background: transparent !important;
}

.appDevToolsWrapper-1QxdQf {
    background: transparent !important;
}

.notDevTools-1zkgfK {
    background: transparent !important;
}

.app-3xd6d0,
.mobileApp-3_TCAV {
    background: transparent !important;
}

.app-2CXKsg,
.bg-1QIAus {
    background: transparent !important;
}

.app-2CXKsg,
.bg-1QIAus {
    background: transparent !important;
}

#app-mount .layers-OrUESM {
    background-color: transparent !important;
}

#app-mount .layer-86YKbF.baseLayer-W6S8cY {
    background: transparent !important;
}

.container-1eFtFS {
    background: transparent !important;
}

#app-mount .guilds-2JjMmN {
    background: transparent !important;
}

.tree-3agP2X {
    background: transparent !important;
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
    background: transparent !important;
    border-color: transparent;
}

#app-mount .base-2jDfDU {
    background-color: transparent !important;
}

.content-1SgpWY {
    background: transparent !important;
}

#app-mount .sidebar-1tnWFu {
    background: transparent !important;
}

.container-1NXEtd {
    background-color: transparent !important;
}

#app-mount .sidebar-1tnWFu .container-1-ERn5 {
    background: transparent !important;
}

#app-mount .sidebar-1tnWFu .header-3OsQeK {
    background: transparent !important;
}

#app-mount .sidebar-1tnWFu [class*=scroller-] {
    background-color: transparent !important;
}

#app-mount .panels-3wFtMD {
    background: transparent !important;
}

#app-mount .panels-3wFtMD>.container-YkUktl {
    background: transparent !important;
}

#app-mount .panels-3wFtMD>.container-YkUktl .directionRow-2Iu2A9 {
    background: transparent !important;
    border-color: transparent;
}

#app-mount .chat-2ZfjoI {
    background: transparent !important;
}

#app-mount .uploadArea-2Nu_Vc {
    background: transparent !important;
}

#app-mount .container-ZMc96U {
    background: transparent !important;
}

#app-mount .container-ZMc96U .toolbar-3_r2xA {
    background: transparent !important;
}

#app-mount .container-ZMc96U .search-39IXmY {
    background: transparent !important;
}

#app-mount .container-ZMc96U .searchBar-jGtisZ {
    background: transparent !important;
    border: transparent !important;
}

#app-mount .privateChannels-oVe7HL {
    background: transparent;
}

#app-mount .container-2cd8Mz {
    background: transparent;
}

#app-mount .container-ZMc96U .children-3xh0VB .status-12NUUC {
    background: transparent;
}

.theme-light .scroller-3X7KbA {
    background: transparent !important;
}
.theme-dark .scroller-3X7KbA {
    background: transparent !important;
}

/* Messages Slide In Chat */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.message-2CShn3 {
    animation: slide-up 0.4s ease;
}

/* Add cute background for usernames in chat  (compact) */
#app-mount .wrapper-30-Nkg .username-h_Y3Us::before {
    content: '';
    width: calc(100% + 6px);
    height: 100%;
    border-radius: 3px;
    background-color: currentColor;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: -4px;
    z-index: -1;
}

#app-mount .wrapper-30-Nkg .username-h_Y3Us {
    margin-left: 10px;
}

#app-mount .wrapper-30-Nkg .username-h_Y3Us::after {
    content: ":";
}

/* Pop-out Animation */
.menu-1QACrS,
.emojiPicker-6YCk8a,
.browser-mnQ1T7,
.messagesPopoutWrap-3zryHW,
.wrapper-1NB3WY,
.container-3u7RcY,
.container-2o3qEW,
.container-2ebMPP,
.userPopout-2j1gM4 {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}

@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

/* Chat message field */
#app-mount .slateTextArea-27tjG0 {
    color: var(--text-normal);
    top: 2px;
    opacity: 0.5;
}

#app-mount .slateTextArea-27tjG0:focus {
    color: var(--text-normal);
    top: 2px;
    opacity: 1;
}

/* User button at the bottom */
/*#app-mount .styleFlexible-x0_sIC,
#app-mount .submenu-1apzyU {
    background: var(--slate-bg);
    box-shadow: unset;
    border-radius: var(--border-radius);
    margin-left: 10px;
    overflow: unset;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: 1px;
    border-style: solid;
    border-color: var(--background-sidebar);
    border-width: 1px;
}*/

/*#account-divider-1,
#account-divider-2 {
    display: none !important;
}*/

/*.scroller-1bVxF5 .none-2-_0dP .scrollerBase-_bVAAt {
    overflow: hidden scroll;
    padding-right: 8px;
    padding-left: 12px !important;
    bottom: 10px !important;
}*/

/*.menu-1QACrS,
.emojiPicker-6YCk8a,
.browser-mnQ1T7,
.messagesPopoutWrap-3zryHW,
.wrapper-1NB3WY,
.container-3u7RcY,
.container-2o3qEW,
.container-2ebMPP,
.userPopout-2j1gM4 {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
    left: 10px;
    bottom: 5px !important;
}*/

/*#app-mount .userPopoutOuter-3AVBmJ {
    border: unset;
    box-shadow: var(--elevation-1);
    border-radius: var(--border-radius);
    padding: unset;
}*/

/*#account>div {
    background: var(--background-sidebar);
}

#account>div>div:nth-child(1) {
    margin-left: 8px !important;
}*/


/* Profile info at the righ in DMs */
.userPanelInnerThemed-2xZFjl {
    background: transparent !important;
    border-radius: var(--border-radius);
}
#app-mount>div.appAsidePanelWrapper-ev4hlp>div.notAppAsidePanel-3yzkgB>div.app-3xd6d0>div>div.layers-OrUESM.layers-1YQhyW>div>div>div>div.content-1SgpWY>div.chat-2ZfjoI>div.content-1jQy2l>aside>div {
    background: var(--slate-bg) !important;
    border-radius: var(--border-radius);
}

.bannerPremium-86naOf {
    border-radius: var(--border-radius);
}

.none-2-_0dP .scrollerBase-_bVAAt {
    overflow: hidden scroll;
    /*left: 5px !important;
    margin-right: 5px !important;*/
    /*padding-right: 0px;
    margin-right: 5px !important;*/
}

.profilePanel-2PWEok {
    left: 5px;
    margin-right: 5px;
}

.none-2-_0dP {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--slate-bg);
    padding-left: unset !important;
    border-left-style: solid;
    border-left-width: 0px;
    border-left-color: var(--background-sidebar);
    border-radius: var(--border-radius);
    /*left: 5px;
    margin-right: 5px !important;*/
}

.avatarPositionPanel-3P4Ted {
    top: 72px;
    left: 18px !important;
}

.wrapper-1VLyxH rect {
    x: 70%;
    y: 65%;
    stroke: var(--base-border);
    rx: 50;
}

/* Server icons size */
.wrapper-2PSQCG {
    width: var(--server-icon-size);
    height: var(--server-icon-size);
}

.svg-2ifYOU {
    width: var(--server-icon-size);
    height: var(--server-icon-size);
}
/* Add round corners to server icons */
.childWrapper-1j_1ub, .wrapper-3kah-n {
    border-radius: var(--server-radius) !important;
    background: transparent !important;
}
.icon-3AqZ2e {
    border-radius: var(--server-radius) !important;
}