/**
 * @name Slate
 * @author Gibbu#1211 & Tropical#8908
 * @version 1.5.15
 * @invite TeRQEPb
 * @description An optimized, consistent, and functional theme for Discord based on GitHub's design language.
 * @source https://github.com/DiscordStyles/Slate/
 * @website https://discordstyles.github.io/slate-theme/
*/

/*        _____                    _____            _____                _____                    _____
         /\    \                  /\    \          /\    \              /\    \                  /\    \
        /::\    \                /::\____\        /::\    \            /::\    \                /::\    \
       /::::\    \              /:::/    /       /::::\    \           \:::\    \              /::::\    \
      /::::::\    \            /:::/    /       /::::::\    \           \:::\    \            /::::::\    \
     /:::/\:::\    \          /:::/    /       /:::/\:::\    \           \:::\    \          /:::/\:::\    \
    /:::/__\:::\    \        /:::/    /       /:::/__\:::\    \           \:::\    \        /:::/__\:::\    \
    \:::\   \:::\    \      /:::/    /       /::::\   \:::\    \          /::::\    \      /::::\   \:::\    \
  ___\:::\   \:::\    \    /:::/    /       /::::::\   \:::\    \        /::::::\    \    /::::::\   \:::\    \
 /\   \:::\   \:::\    \  /:::/    /       /:::/\:::\   \:::\    \      /:::/\:::\    \  /:::/\:::\   \:::\    \
/::\   \:::\   \:::\____\/:::/____/       /:::/  \:::\   \:::\____\    /:::/  \:::\____\/:::/__\:::\   \:::\____\
\:::\   \:::\   \::/    /\:::\    \       \::/    \:::\  /:::/    /   /:::/    \::/    /\:::\   \:::\   \::/    /
 \:::\   \:::\   \/____/  \:::\    \       \/____/ \:::\/:::/    /   /:::/    / \/____/  \:::\   \:::\   \/____/
  \:::\   \:::\    \       \:::\    \               \::::::/    /   /:::/    /            \:::\   \:::\    \
   \:::\   \:::\____\       \:::\    \               \::::/    /   /:::/    /              \:::\   \:::\____\
    \:::\  /:::/    /        \:::\    \              /:::/    /    \::/    /                \:::\   \::/    /
     \:::\/:::/    /          \:::\    \            /:::/    /      \/____/                  \:::\   \/____/
      \::::::/    /            \:::\    \          /:::/    /                                 \:::\    \
       \::::/    /              \:::\____\        /:::/    /                                   \:::\____\
        \::/    /                \::/    /        \::/    /                                     \::/    /
         \/____/                  \/____/          \/____/                                       \/____/

====================================================================================
 Please view the full documentation at https://github.com/DiscordStyles/Slate/wiki
====================================================================================
*/

/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url("https://discordstyles.github.io/AdjustableServerWidth/base.css");
/*@import url("https://discordstyles.github.io/Slate/base.css");*/
@import url("https://discordstyles.github.io/Slate/dist/Slate.css");

/*
====================================================================================
                                  Basic Variables
====================================================================================
*/

/*A full list of variables and their uses can be found in the documentation above.*/

:root {
  /*Primary Colors*/
  --accent: 60,193,148;
  --link-colour: 48, 144, 255;

  /*Server List*/
  --server-icon-size: 40px;
  --server-icon-spacing: 8px;
  --server-container-padding: 10px;

  /* My edits */
  --border-radius: 10px;
  --avatar-radius: 10px;
  --server-radius: 15px;

  --background: #fbfbfb;
  --background-alt: #fbfbfb;
  --background-light: #fbfbfb;
  --background-dark: #fbfbfb;
  --background-modifier-hover: #3CC19430;
  --background-modifier-active: #3CC19430;
  --toolbar-background: #fbfbfb;
  --toolbar-background-hover: 30;

  --base-border: #fbfbfb;
  --toolbar-border: #fbfbfb;
  --toolbar-search-background: var(--background);
  --toolbar-search-border: var(--text-focus);
  /*--toolbar-text-focus:var(--accent);*/
  --toolbar-text-focus: var(--text-focus);
  --toolbar-text-normal: var(--text-focus);
  --toolbar-text-muted: var(--text-focus);

  --text-normal: #372D3F;
  --text-focus: #3CC194;
  --text-muted: #CDE0DA;

  /*--font-family-sans-serif: 'VictorMono Nerd Font';
  --font-family-monospace: 'VictorMono Nerd Font Mono';*/
  --font-family-sans-serif: 'Helvetica';
  --font-family-monospace: 'VictorMono Nerd Font Mono';
  --font-size: 13px;

  --sidebar-width: 240px;
}

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/

.card-2qZngs {
    background-color: var(--background);
    text-align: center;
}

.header-nbFv8R {
    color: var(--text-focus);
}

.emptyHeader-3lmLcs {
    color: var(--text-focus);
}

.colorStandard-2KCXvj {
    color: var(--text-normal) !important;
}
.emptyText-2zjpZr {
    color: var(--text-normal) !important;
}

/*.base-1x0h_U:before {
    background: var(--text-focus) !important;
}*/

/*.content-1x5b-n {
    border-radius: 16px !important;
}*/


/* Mic, sound, settings settings */
#app-mount .panels-3wFtMD > .container-YkUktl .directionRow-2Iu2A9 {
    /*background: var(--background-primary);*/
    border-color: var(--background-secondary);
    border-style: solid;
    border-width: medium;
}

/* Mic, sound and settings parent container settings */
/*#app-mount .panels-3wFtMD > .container-YkUktl {
    border-top: 2px solid var(--base-border);
    background: var(--background-secondary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--background-secondary);
    border-right: #000;
}*/

/* Message field settings */
#app-mount .inner-NQg18Y {
    /*background-color: var(--background-secondary);*/
    border: medium solid var(--background-secondary);
}

/* Servers sidebar settings */
#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
    /*background: var(--background-secondary);*/
    /*border-radius: var(--border-radius);*/
    padding-top: unset;
    border-style: solid;
    border-color: var(--background-secondary);
    box-shadow: inset -10px 0 20px -9px #00000010;
}

/* Server Channels list settings */
#app-mount .sidebar-1tnWFu [class*=scroller-] {
    /*border-radius: var(--border-radius);
    background-color: var(--background-secondary);*/
    /*border-style: solid;
    border-color: var(--background-secondary);
    border-width: medium;*/
    /*box-shadow: 1px 0px 20px 1px #00000010;*/
}

.container-1NXEtd {
    background-color: var(--background-alt);
}

/* Set y position to the channel list */
.guilds-2JjMmN {
    width: var(--container);
    top: 50px;
}


/* Add border and shadow to the topbars */
#app-mount .container-ZMc96U {
    border-bottom: var(--background-secondary);
    border-style: solid;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-color: var(--background-secondary);
    box-shadow: 0 5px 20px 1px #00000010;
}
