/**
 * @name Slate
 * @author Gibbu#1211 & Tropical#8908
 * @version 1.5.15
 * @invite TeRQEPb
 * @description An optimized, consistent, and functional theme for Discord based on GitHub's design language.
 * @source https://github.com/DiscordStyles/Slate/
 * @website https://discordstyles.github.io/slate-theme/
*/

/*        _____                    _____            _____                _____                    _____
         /\    \                  /\    \          /\    \              /\    \                  /\    \
        /::\    \                /::\____\        /::\    \            /::\    \                /::\    \
       /::::\    \              /:::/    /       /::::\    \           \:::\    \              /::::\    \
      /::::::\    \            /:::/    /       /::::::\    \           \:::\    \            /::::::\    \
     /:::/\:::\    \          /:::/    /       /:::/\:::\    \           \:::\    \          /:::/\:::\    \
    /:::/__\:::\    \        /:::/    /       /:::/__\:::\    \           \:::\    \        /:::/__\:::\    \
    \:::\   \:::\    \      /:::/    /       /::::\   \:::\    \          /::::\    \      /::::\   \:::\    \
  ___\:::\   \:::\    \    /:::/    /       /::::::\   \:::\    \        /::::::\    \    /::::::\   \:::\    \
 /\   \:::\   \:::\    \  /:::/    /       /:::/\:::\   \:::\    \      /:::/\:::\    \  /:::/\:::\   \:::\    \
/::\   \:::\   \:::\____\/:::/____/       /:::/  \:::\   \:::\____\    /:::/  \:::\____\/:::/__\:::\   \:::\____\
\:::\   \:::\   \::/    /\:::\    \       \::/    \:::\  /:::/    /   /:::/    \::/    /\:::\   \:::\   \::/    /
 \:::\   \:::\   \/____/  \:::\    \       \/____/ \:::\/:::/    /   /:::/    / \/____/  \:::\   \:::\   \/____/
  \:::\   \:::\    \       \:::\    \               \::::::/    /   /:::/    /            \:::\   \:::\    \
   \:::\   \:::\____\       \:::\    \               \::::/    /   /:::/    /              \:::\   \:::\____\
    \:::\  /:::/    /        \:::\    \              /:::/    /    \::/    /                \:::\   \::/    /
     \:::\/:::/    /          \:::\    \            /:::/    /      \/____/                  \:::\   \/____/
      \::::::/    /            \:::\    \          /:::/    /                                 \:::\    \
       \::::/    /              \:::\____\        /:::/    /                                   \:::\____\
        \::/    /                \::/    /        \::/    /                                     \::/    /
         \/____/                  \/____/          \/____/                                       \/____/

====================================================================================
 Please view the full documentation at https://github.com/DiscordStyles/Slate/wiki
====================================================================================
*/

/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url("https://discordstyles.github.io/AdjustableServerWidth/base.css");
/*@import url("https://discordstyles.github.io/Slate/base.css");*/
@import url("https://discordstyles.github.io/Slate/dist/Slate.css");

/*
====================================================================================
                                  Basic Variables
====================================================================================
*/

/*A full list of variables and their uses can be found in the documentation above.*/

:root {
  /*Primary Colors*/
  --accent: 227,135,122;
  --link-colour: 48, 144, 255;
  --sidebar-width: 250px;

  /*Server List*/
  --server-icon-size: 42px;
  --server-icon-spacing: 10px;
  --server-container-padding: 15px;

  /* My edits */
  --border-radius: 6px;
  --avatar-radius: 9px;
  --server-radius: 14px;

  --background: #fffdf6;
  --background-alt: #fffdf6;
  --background-light: #fffdf6;
  --background-dark: #fffdf6;
  --background-sidebar: #F7F5EE;
  --background-modifier-hover: #e3877a30;
  --background-modifier-active: #e3877a30;
  --toolbar-background: #fffdf6;
  --toolbar-background-hover: 30;

  --text-normal: #715657;
  --text-focus: #e3877a;
  --text-muted: rgba(var(--accent), 0.5);

  --base-border: #fffdf6;
  --toolbar-border: #fffdf6;
  --toolbar-search-background: var(--background);
  --toolbar-search-border: var(--background-sidebar);
  /*--toolbar-text-focus:var(--accent);*/
  --toolbar-text-normal: var(--text-focus);
  --toolbar-text-focus: var(--text-focus);
  --toolbar-text-muted: rgba(var(--accent), 0.5);

  /*--font-family-sans-serif: 'VictorMono Nerd Font';
  --font-family-monospace: 'VictorMono Nerd Font Mono';*/
  --font-family-sans-serif: 'SF Pro';
  --font-family-monospace: 'VictorMono Nerd Font Mono';
  --font-size: 13px;

}

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/

.card-2qZngs {
    background-color: var(--background);
    text-align: center;
}

.header-nbFv8R {
    color: var(--text-focus);
}

.emptyHeader-3lmLcs {
    color: var(--text-focus);
}

.colorStandard-2KCXvj {
    color: var(--text-normal) !important;
}
.emptyText-2zjpZr {
    color: var(--text-normal) !important;
}

/*.base-1x0h_U:before {
    background: var(--text-focus) !important;
}*/

/*.content-1x5b-n {
    border-radius: 16px !important;
}*/


/* Mic, sound, settings settings */
#app-mount .panels-3wFtMD > .container-YkUktl .directionRow-2Iu2A9 {
    background: var(--background-sidebar);
    border-color: var(--background-sidebar);
    border-style: solid;
    border-width: 2px;
}

/* Mic, sound and settings parent container settings */
#app-mount .panels-3wFtMD > .container-YkUktl {
    /*border-top: 2px solid var(--base-border);*/
    background: var(--background-sidebar);
    border-right: unset;
    /*border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--background-secondary);
    border-right: #000;*/
}

/* Message field settings */
#app-mount .inner-NQg18Y {
    /*background-color: var(--background-secondary);*/
    border: 2px solid var(--background-secondary);
}

/* Servers sidebar settings */
#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
    background: var(--background-sidebar);
    /*border-radius: var(--border-radius);*/
    padding-top: unset;
    /*border-style: solid;*/
    border-color: var(--background-secondary);
    /*box-shadow: inset -10px 0 20px -9px #00000010;*/
}

/* Server Channels list settings */
#app-mount .sidebar-1tnWFu [class*=scroller-] {
    /*border-radius: var(--border-radius);
    background-color: var(--background-secondary);*/
    /*border-style: solid;
    border-color: var(--background-secondary);
    border-width: medium;*/
    /*box-shadow: 1px 0px 20px 1px #00000010;*/
    background-color: var(--background-sidebar);
    border-right: unset;
    border-left: unset;
}

.container-1NXEtd {
    background-color: var(--background-alt);
}

/* Set y position to the channel list */
.guilds-2JjMmN {
    width: var(--container);
    top: 50px;
}


/* Add border and shadow to the topbars */
/*#app-mount .container-ZMc96U {
    border-bottom: var(--background-secondary);
    border-style: solid;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-color: var(--background-secondary);
    box-shadow: 0 5px 20px 1px #00000010;
}*/

/* Toolsbar settings: Server name f.e.*/
#app-mount .sidebar-1tnWFu .header-3OsQeK {
    background-color: var(--background-sidebar);
    border-bottom: unset;
    border-right: unset;
}

/* Add round corners to selected channerl */
#app-mount .sidebar-1tnWFu .wrapper-NhbLHG.modeSelected-3DmyhH .content-1gYQeQ {
    border-radius: 6px;
}

/* Add padding to channels list */
#app-mount .sidebar-1tnWFu .content-1gYQeQ {
    /* margin: 0; */
    /* padding: 20px; */
    margin-left: 10px;
    margin-right: 10px;
}

/* Add shadow to pinned messages */
#app-mount .messagesPopoutWrap-3zryHW {
    box-shadow: 0 5px 20px 1px #00000020;
}

/* Remove tiny borders */
#app-mount .guilds-2JjMmN {
    border: unset;
}
#app-mount .panels-3wFtMD {
    border-right: unset;
}
#app-mount .panels-3wFtMD > .container-YkUktl {
    border-top: unset;
}
#app-mount .panels-3wFtMD::before {
    border-top: unset;
}

/* Personal page */
#app-mount .privateChannels-oVe7HL .searchBar-3TnChZ {
    background: var(--background-sidebar);
    border-bottom: unset;
}

/* Add round corrners to selected chat */
.selected-3veCBZ {
    height: 38px;
    border-radius: 6px;
}
/* Add margins to selected chats */
#app-mount .privateChannels-oVe7HL .content-2a4AW9 {
    margin-left: 10px;
    margin-right: 10px;
}

/* Call controls background */
#app-mount .panels-3wFtMD .container-1zzFcN {
    background-color: var(--background-sidebar);
}
#app-mount .panels-3wFtMD .container-1zzFcN .horizontal-112GEH > .flex-2S1XBF:last-child {
    background: var(--background-sidebar);
    border: unset;
}

/* Add shadow to inboc popup */
.container-2ebMPP {
    box-shadow: 0 5px 20px 1px #00000020 !important;
}
