.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
Desktop/
.dir_colors
Documents/
Downloads/
.face
.face.icon
Games/
.git
.gnupg/
.gphoto/
.gtkrc-2.0
.icon
.icons/
.java/
.kde4/
.local/
.minecraft/
.mozilla/
Music/
packettracer/
Pictures/
.pki/
Public/
.ssh/
.steam/
Templates/
Videos/
.vim/
.vscode-oss/
.wine/
.Xauthority
.Xclients
.xinitrc
.zshrc
.zoom/
.zshrc.bck
.zsh_history
.zcompdump-Otonoki-5.8
.z
.wakatime.log
.wakatime.db
.wakatime.data
.wakatime.cfg
.viminfo
.steampid
.steampath
.shell.pre-oh-my-zsh
.packettracer
.mysql_history
.lesshst
.fonts.conf
