.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
Desktop/
.dir_colors
Documents/
Downloads/
.face
.face.icon
.git
.gtkrc-2.0
.icon
.icons/
.kde4/
.local/
.mozilla/
Music/
Pictures/
Public/
Templates/
Videos/
.Xauthority
.Xclients
.xinitrc
.zshrc
